body {
  background-color: #32de84;
}
.header {
  /* border: 2px solid red; */
  background-color: black;
  margin: 1rem 1rem;
}
h1 {
  color: white;
  text-align: center;
  font-weight: bolder;
}
.bar:hover #ver {
  display: block;
}
img:hover {
  width: 1%;
  display: block;
}
#ver {
  display: none;
  /* border: 2px solid salmon; */
  width: 25%;
  height: 60%;
  color: white;
  background-color: black;
  padding-left: 1rem;
  position: fixed;
  padding-top: 2rem;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden li a {
  text-decoration: none;
  margin: 0;
  line-height: 4rem;
  color: white;
  width: 100%;
  font-weight: 200;
}
.hidden li a:hover {
  background-color: #59f1a3;
  padding: 1rem 5rem;
}

.horizontal {
  /* border: 2px solid blue; */
  display: flex;
}
.home li a:hover {
  background-color: #32de84;
  display: block;
  padding: 1rem 3rem;
}

.home li a {
  text-decoration: none;
  padding: o;
  margin: 0;
  color: white;
}
.home li {
  float: left;
  padding: 0rem 4rem;
}
.layout {
  /* border: 2px solid yellow; */
  color: white;
  font-size: 5em;
  padding-left: 30rem;
  padding-top: 6rem;
}
.html {
  background-color: black;
  width: 79%;
  text-align: center;
}
